{% extends "base.html" %}

{% load static from staticfiles %}

{% block app_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/gallery657/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/gallery657/tablet.css" %}" media="screen and (min-width: 951px) and (max-width: 1250px)">
    <link rel="stylesheet" type="text/css" href="{% static "css/gallery657/square.css" %}" media="screen and (min-width: 601px) and (max-width: 950px)">
    <link rel="stylesheet" type="text/css" href="{% static "css/gallery657/high.css" %}" media="screen and (max-width: 600px)">

{% endblock %}


{% block app %}


{% endblock %}

