
#gallery {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.collection_list {
  position: fixed;
  height: 50px;
  min-width: 100%;
  color:#aa0909;
  text-align:center;
}
.collection_list ul {
  padding: 0px;
}
.collection_list ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.collection_list button {
  color: #aa0909;
  background-color: white;
  border: solid 1px #aa0909;
  box-shadow: 3px 3px 3px red;
  margin-bottom: 16px;
}
.collection_list button:hover {
  color:red;
  border: solid 1px red;
  box-shadow: 3px 3px 3px red;
  cursor:pointer;
}
.collection_list button:active {
  color:red;
  border: solid 1px red;
  box-shadow: None;
}
.collection_list .router-link-active button {
  color:red;
  border: solid 1px red;
  box-shadow: None;
  cursor: default;
}

.collection_view {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.art_item {
  display: flex;
  margin: 10px;
}
.art_item img {
  max-height:200px;
}
.art_item img:hover {
  cursor: pointer;
}

.art-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art {
  position: absolute;
  top: 1em;
  background: #ffffff;
  box-shadow: 0px 0px 20px 5px red;
}

.art img {
  vertical-align: middle;
  max-width: 700px;
}

.art-fade-enter-active, .art-fade-leave-active {
  transition: opacity .5s ease;
}

.art-fade-enter, .art-fade-leave-to {
  opacity: 0;
}
