
#gallery657 {
  max-width: 100%;
  margin: auto;
}

.collection_list {
  position: fixed;
  height: 2em;
  text-align:center;
  background-color: white;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
}
.collection_list ul {
  padding: 0px;
  margin: auto;
}
.collection_list ul li{
  display: inline;
}
.collection_list ul li a {
  position: relative;
  top: 5px;
  margin-left: 0.5rem;
  padding: 5px 20px;
  background-color: white;
  color: black;
  border: solid 1px black;
  text-decoration: none;
}
.collection_list ul li a:hover,
.collection_list .router-link-exact-active,
.collection_list .router-link-exact-active:hover {
  color:white;
  background-color: black;
  cursor: pointer;
}

#collection_view {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.art_item {
  display: flex;
  margin: 10px;
}
.art_item img {
  max-height:200px;
  transition: all 0.75s ease;
}
.art_item img:hover {
  cursor: pointer;
  transform:scale(1.25);
}

.art-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #000000aa;
}

.art-left {
  position: absolute;
  right: calc(50vw + 50px);
  color: white;
  top: 1em;
  border-radius: 10px;
  font-size: 2em;
  width: 50px;
  text-align: center;
}
.art-left:hover {
background-color: black;
cursor: pointer;
}

.art-right {
position: absolute;
left: calc(50vw + 50px);
top: 1em;
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
}
.art-right:hover {
background-color: black;
cursor: pointer;
}

.art-close {
position: absolute;
top: 1em;
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
right: calc(50vw - 25px);
}
.art-close:hover {
background-color: black;
cursor: pointer;
}

.art {
  position: relative;
  top: 5em;
  left: 0;
  right: 0;
  text-align: center;
}

.art img {
  vertical-align: middle;
  max-width: 700px;
  max-height: 600px;
}

.art-fade-enter-active {
  transition: opacity 0.5s ease;
}

.art-fade-leave-active {
  transition: opacity 0.5s ease;
}

.art-fade-enter,
.art-fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .collection_list ul li {
    display: inline;
  }
  .art_item {
    margin-top: 0px;
  }
  .art_item img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 500px;
  }
  .art img {
    max-width: 100%;
  }
}
