
#gallery657 {
  max-width: 100%;
  margin: auto;
}

#gallery657 img {
  image-orientation: from-image;
}

.collection_list {
  position: fixed;
  height: 2em;
  text-align:center;
  background-color: white;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
}
.collection_list ul {
  padding: 0px;
  margin: auto;
}
.collection_list ul li{
  display: inline;
}
.collection_list ul li a {
  position: relative;
  top: 6px;
  margin-left: 0.5rem;
  padding: 5px 20px;
  background-color: white;
  color: black;
  border: solid 1px black;
  text-decoration: none;
}
.collection_list ul li:first-child > a {
  margin-left: 0;
}
.collection_list ul li a:hover,
.collection_list .router-link-exact-active,
.collection_list .router-link-exact-active:hover {
  color:white;
  background-color: black;
  cursor: pointer;
}

#collection_view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2rem 0 0 0;
}

.art_item {
  display: flex;
  margin: 10px;
  overflow: hidden;
}
.art_item img {
  max-height:200px;
  transition: all 2s ease;
}
.art_item img:hover {
  cursor: pointer;
  transform:scale(1.25);
}

.art-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #000000aa;
  overflow: scroll;
}
.art-backdrop div:not(.art) {
  background: #5c5c5c3b;
}

.art-title {
  position: fixed;
  top: 0.4em;
  z-index: 1;
  color: white;
  font-size: 1.3em;
  /*border-bottom: solid 0.1em;
  padding: 0 1em; */
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
}

.art-left {
  position: fixed;
  z-index: 1;
  right: calc(50vw + 30px);
  /*left: calc(50vw - 85px);*/
  color: white;
  top: 1em;
  border-radius: 10px;
  font-size: 2em;
  width: 50px;
  text-align: center;
}
.art-backdrop div.art-left:hover {
background-color: black;
cursor: pointer;
}

.art-right {
position: fixed;
z-index: 1;
left: calc(50vw + 30px);
top: 1em;
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
}
.art-backdrop div.art-right:hover {
background-color: black;
cursor: pointer;
}

.art-close {
position: fixed;
z-index: 1;
top: 1em;
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
right: calc(50vw - 25px);
}
.art-backdrop div.art-close:hover {
background-color: black;
cursor: pointer;
}

.art {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  text-align: center;
}

.art img {
  /*vertical-align: middle;
  width: 900px;*/
  max-width: 100%;
  max-height: 900px;
}

.art-fade-enter-active {
  transition: opacity 0.5s ease;
}

.art-fade-leave-active {
  transition: opacity 0.5s ease;
}

.art-fade-enter,
.art-fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .collection_list ul li {
    display: inline;
  }
  .art_item {
    margin-top: 0px;
  }
  .art_item img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 500px;
  }
}
