
#gallery657 {
  max-width: 100%;
  margin: auto;
}

#gallery657 img {
  image-orientation: from-image;
}
#gallery657 .collections_wrap {
  text-align: center;
  background-color: white;
  z-index: 1;
  left: 0;
  right: 0;
}
#gallery657 .collections {
  margin: auto;
  max-width: 100%;
  cursor: pointer;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}
#gallery657 .collections .collections_button {
  background-color: black;
  color: white;
  padding: 6px 1.5em;
  border: none;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  height: 5em;
  line-height: 2;
  font-size: 15px;
}
#gallery657 .collection_list {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 3px 3px 3px 0px black;
  z-index: 1;
  width: max-content;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
#gallery657 .collection_list a {
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  margin: 1rem 3rem;
  border: solid 1px black;
}
#gallery657 .collection_list a:hover {
  background-color: black;
  color: white;
}
#gallery657 .collections:hover .collection_list {
  display: block;
}
#gallery657 .collection_list .router-link-exact-active,
#gallery657 .collection_list .router-link-exact-active:hover {
  color:white;
  background-color: black;
}


#gallery657 #collection_view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 2em);
  padding: 2.7rem 0 0 0;
}
#gallery657 #collection_view button {
  font-size: x-large;
  background-color: black;
  color: white;
  height: min-content;
  margin: auto 0;
  margin: 4em;
  padding: 0px 30px;
  border: none;
  cursor: pointer;
}

#gallery657 .art_item {
  margin: 10px;
  overflow: hidden;
}
#gallery657 .art_item img {
  max-height:200px;
  transition: all 2s ease;
}
#gallery657 .art_item img:hover {
  cursor: pointer;
  transform:scale(1.25);
}

@supports (grid-template-rows: masonry) {
  #gallery657 #collection_view {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin: auto;
  }
  #gallery657 .art_item {
    margin: auto;
  }
  #gallery657 .art_item img {
    width: 100%;
    max-height: initial;
  }

}

#gallery657 .art-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #000000aa;
  overflow: scroll;
}
#gallery657 .art-backdrop div:not(.art) {
  background: #5c5c5c3b;
}

#gallery657 .art-title {
  position: fixed;
  top: 0.4em;
  z-index: 1;
  color: white;
  font-size: 1.3em;
  /*border-bottom: solid 0.1em;
  padding: 0 1em; */
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
}

#gallery657 .art-left {
  position: fixed;
  z-index: 1;
  left: calc(50vw - 75px);
  color: white;
  top: 1em;
  border-radius: 10px;
  font-size: 2em;
  width: 50px;
  text-align: center;
}
#gallery657 .art-backdrop div.art-left:hover {
background-color: black;
cursor: pointer;
}

#gallery657 .art-right {
position: fixed;
z-index: 1;
left: calc(50vw + 25px);
top: 1em;
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
}
#gallery657 .art-backdrop div.art-right:hover {
background-color: black;
cursor: pointer;
}

#gallery657 .art-close {
position: fixed;
z-index: 1;
top: 1em;
left: calc(50vw - 25px);
border-radius: 10px;
color: white;
font-size: 2em;
width: 50px;
text-align: center;
}
#gallery657 .art-backdrop div.art-close:hover {
background-color: black;
cursor: pointer;
}

#gallery657 .art {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  text-align: center;
}

#gallery657 .art img {
  /*vertical-align: middle;
  width: 900px;*/
  max-width: 100%;
  max-height: 800px;
}

#gallery657 .art-fade-enter-active {
  transition: opacity 0.5s ease;
}

#gallery657 .art-fade-leave-active {
  transition: opacity 0.5s ease;
}

#gallery657 .art-fade-enter,
#gallery657 .art-fade-leave-to {
  opacity: 0;
}

#gallery_top {
  margin: 1em 0px 0px 0px;
  text-align: center;
}
#gallery_top > a {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 6px 30px 0px 30px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  #gallery657 #collection_view {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  #gallery657 #collection_view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #gallery657 .collection_list ul li {
    display: inline;
  }
  #gallery657 #collection_view {
    grid-template-columns: repeat(1, 1fr);
  }
  #gallery657 .art_item {
    margin-top: 0px;
  }
  #gallery657 .art_item img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 500px;
  }
}
