
.collection_list {
  position: fixed;
  top: 0px;
  height: 50px;
  min-width: 100%;
  text-align: left;
  background-color: white;
}

.collection_list ul li {
  display: inline;
  margin-right: 20px;
}

.collection_view {
  padding-top: 50px;
  padding-left: 0px;
}

.art_item {
  margin: 10px;
  margin-top: 0px;
}

.art_item img {
  vertical-align: middle;
  max-height: 200px;
  max-width: 500px;
}

.art img {
  vertical-align: middle;
  max-width: 100%;
}