
#gallery {
left: 0px;
right: 0px;
font-size: 30px;
}

#collection_list {
  width: 150px;
}

#collection_view {
  overflow-x: scroll;
}

.art_item {
max-width: 300px;
margin: 10px;
}


#gallery img {
vertical-align: middle;
max-height: 200px;
}
