
#app {
position: absolute;
top: 101px;
left: 0px;
right: 0px;
bottom: 0px;
background-color: white;
color:#aa0909;
text-align:center;
font-family: Arial;
font-size: 30;
text-decoration: none;
}

#app .toinfinity {
text-decoration: none;
background-color: white;
color: #AAA;
font-family: Arial;
font-size: 50;
}

#app a {
text-decoration: none;
background-color: white;
color:#aa0909;
font-family: Arial;
font-size: 50;
}

#app a:hover{
color:red;
}

img.top {
vertical-align: middle;
height:400px;
}
