
#gallery {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
color:#aa0909;
text-align:center;
font-size: 30;
text-decoration: none;
}

#gallery td {
text-align: center;
font-size: 100;
}

.edge {
width: 20%;
}

#gallery .toinfinity {
color: #AAA;
}

#gallery .galleries {
font-size: 40px;
}

#gallery h2, h3 {
margin: 0;
}

#gallery a {
text-decoration: none;
color:#aa0909;
}

#gallery a:hover{
color:red;
}

#gallery img {
vertical-align: middle;
max-height:400px;
max-width: 100%;
}
