
#gallery {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
color:#aa0909;
text-align:center;
font-size: 30;
text-decoration: none;
}

.galleries a {
font-size: 40px;
}

#gallery .toinfinity {
text-decoration: none;
color: #AAA;
}

#gallery h2 {
margin: 0;
}

#gallery a {
text-decoration: none;
color:#aa0909;
}

#gallery a:hover{
color:red;
}

#gallery img {
vertical-align: middle;
height:400px;
}
