
#gallery {
position: absolute;
top: 0px;
left: 15%;
right: 15%;
bottom: 0px;
color:#aa0909;
text-align:center;
font-size: 40px;
text-decoration: none;
}

#gallery a {
text-decoration: none;
color:#aa0909;
}

#gallery a:hover{
color:red;
}

#collection_list {
  float:left;
  width: 200px;
}

#collection_list li {
  list-style-type: none;
}

#collection_view{
  float:left;
}

.art_item {
float:left;
max-width: 300px;
margin: 10px;
}


#gallery img {
vertical-align: middle;
max-height:250px;
max-width: 250px;
}
